<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net>
		<appender name="FileAppender" type="log4net.Appender.FileAppender">
			<file value="logfile.log" />
			<appendToFile value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="INFO" />
			<appender-ref ref="FileAppender" />
		</root>
	</log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<appSettings>
		<add key="ChromeUsersDataPath" value="user-data-dir=C:\\Users\\lenovo\\AppData\\Local\\Google\\Chrome\\User Data" />
		<!-- REDDIT SETTINGS -->
		<add key="RedditStoriesDirectory" value="C:\Users\lenovo\Desktop\Social_media_uploads\RedditVideoMakerBot2\RedditVideoMakerBot\results\" />
		<!-- Reddit English Settings -->
		<add key="English_FacebookUrl" value="https://www.facebook.com/profile.php?id=100094219464406" />
		<add key="English_InstagramUrl" value="https://www.instagram.com/" />
		<add key="English_YoutubeUrl" value="https://studio.youtube.com/channel/UCyebAIWj1TNf7gULtW_Mstw" />
		<add key="English_TiktokUrl" value="https://www.tiktok.com/tiktokstudio/upload?from=upload" />
		<add key="English_ChromeProfileDir" value="profile-directory=Profile 2" />
		<!-- Reddit Spanish Settings -->
		<add key="Spanish_FacebookUrl" value="https://www.facebook.com/people/Bitesizestorieses/61552810396156/" />
		<add key="Spanish_InstagramUrl" value="https://www.instagram.com/" />
		<add key="Spanish_YoutubeUrl" value="" />
		<add key="Spanish_TiktokUrl" value="https://www.tiktok.com/creator#/upload?scene=creator_center" />
		<add key="Spanish_ChromeProfileDir" value="profile-directory=Profile 6" />
		<!-- HistorAI Chronicles English Settings -->
		<add key="EnglishHistorAI_FacebookUrl" value="https://web.facebook.com/profile.php?id=61556014436562/" />
		<add key="EnglishHistorAI_InstagramUrl" value="" />
		<add key="EnglishHistorAI_YoutubeUrl" value="https://studio.youtube.com/channel/UCUHW-EtjSNrbqqhwN_ODKeg" />
		<add key="EnglishHistorAI_TiktokUrl" value="" />
		<add key="EnglishHistorAI_ChromeProfileDir" value="profile-directory=Profile 12" />
		<!-- HistorAI Chronicles Spanish Settings -->
		<add key="SpanishHistorAI_FacebookUrl" value="https://www.facebook.com/profile.php?id=61563466461903/" />
		<add key="SpanishHistorAI_InstagramUrl" value="" />
		<add key="SpanishHistorAI_YoutubeUrl" value="https://studio.youtube.com/channel/UC6F0MK4EPXXVLwxcA4j8_uQ" />
		<add key="SpanishHistorAI_TiktokUrl" value="" />
		<add key="SpanishHistorAI_ChromeProfileDir" value="profile-directory=Profile 14" />
		<!-- HistorAI Chronicles Hindi Settings -->
		<add key="HindiHistorAI_FacebookUrl" value="https://www.facebook.com/profile.php?id=61564414852496" />
		<add key="HindiHistorAI_InstagramUrl" value="" />
		<add key="HindiHistorAI_YoutubeUrl" value="https://studio.youtube.com/channel/UCjx3KqhcaAOREgT7fapEg4w" />
		<add key="HindiHistorAI_TiktokUrl" value="" />
		<add key="HindiHistorAI_ChromeProfileDir" value="profile-directory=Profile 15" />
	</appSettings>
</configuration>