<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<appSettings>
		<add key="ChromeUsersDataPath" value="user-data-dir=C:\\Users\\lenovo\\AppData\\Local\\Google\\Chrome\\User Data" />
		<!-- REDDIT SETTINGS -->
		<add key="RedditStoriesDirectory" value="C:\Users\lenovo\Desktop\Social_media_uploads\RedditVideoMakerBot2\RedditVideoMakerBot\results\" />
		<!-- English Settings -->
		<add key="English_FacebookUrl" value="https://www.facebook.com/profile.php?id=100094219464406" />
		<add key="English_InstagramUrl" value="https://www.instagram.com/" />
		<add key="English_YoutubeUrl" value="https://studio.youtube.com/channel/UCyebAIWj1TNf7gULtW_Mstw" />
		<add key="English_TiktokUrl" value="https://www.tiktok.com/creator#/upload?scene=creator_center" />
		<add key="English_ChromeProfileDir" value="profile-directory=Profile 2" />
		<!-- Spanish Settings -->
		<add key="Spanish_FacebookUrl" value="https://www.facebook.com/people/Bitesizestorieses/61552810396156/" />
		<add key="Spanish_InstagramUrl" value="https://www.instagram.com/" />
		<add key="Spanish_YoutubeUrl" value="" />
		<add key="Spanish_TiktokUrl" value="https://www.tiktok.com/creator#/upload?scene=creator_center" />
		<add key="Spanish_ChromeProfileDir" value="profile-directory=Profile 6" />
		<!-- HistorAI Chronicles Settings -->
		<add key="HistorAI_FacebookUrl" value="https://web.facebook.com/profile.php?id=61556014436562/" />
		<add key="HistorAI_InstagramUrl" value="" />
		<add key="HistorAI_YoutubeUrl" value="https://studio.youtube.com/channel/UCUHW-EtjSNrbqqhwN_ODKeg" />
		<add key="HistorAI_TiktokUrl" value="" />
		<add key="HistorAI_ChromeProfileDir" value="profile-directory=Profile 12" />
	</appSettings>
</configuration>